*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 100%, rgba(2,4,6,1) 100%);
margin-top: 2px;
background-position: relative;

}

.heading{
  color:rgb(255, 255, 255)
}

.heading .navbar{
  padding: 0;
  margin: 0;
  float: right;
}
.heading .navbar ul{
  list-style-type: none;
  margin-right: 5vh;

}
.navbar ul li{
  display: inline;
  margin-right: 10vh; /*set the gap between home-project-contact*/
  border: 1px solid rgb(37, 37, 37);
  padding: 10px; /*size of border box*/
  border-radius: 10px;
  box-shadow: 1px 3px 1px rgb(33, 33, 33);
  

}
.navbar ul li a{
text-decoration: none;
font-size: 3vh;
font-weight: 600;
color: aqua;
}
 


.greetings{
  color:rgb(255, 255, 255);
  margin-left: 15vh;
  margin-top: 5vh;
}



